body {
	background-color: #323f3c;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #d9e9e1;

}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

#container {
	width: 400px;
	padding: 8px 8px 20px 8px;
	margin: 70x auto;
	background-color: #ABABAB;
	border-radius: 8px;
	border-top: 2px solid #FFF;
	border-right: 8px solid #FFF;

	border-left: 8px solid #C1C1C1;
	box-shadow: -3px 3px 7px rgba(0, 0, 0, .6), inset -100px 0px 100px rgba(255, 255, 255, .5);
}

#display {
	display: block;
	margin: 15px auto;
	height: 80px;
	width: 325px;
	padding: 0 10px;
	border-radius: 4px;
	border-top: 2px solid #C1C1C1;
	border-right: 2px solid #C1C1C1;
	border-bottom: 2px solid #c4b4b4;
	border-left: 2px solid #ddd4d4;
	background-color: #ccbfbf;
	box-shadow: inset 0px 0px 10px #030303, inset 0px -20px 1px rgba(150, 150, 150, .2);
	font-size: 28px;
	color: #666;
	text-align: right;
	font-weight: 400;
}

.button {
	display: inline-block;
	margin: 7px;
	width: 80px;
	height: 80px;
	font-size: 24px;
	font-weight: bold;
	border-radius: 8px;
}

.mathButtons {
	margin: 2px 2px 6px 2px;
	color: #FFF;
	text-shadow: -1px -1px 0px #44006F;
	background-color: #434343;
	border-top: 2px solid #C1C1C1;
	border-right: 2px solid #C1C1C1;
	border-bottom: 2px solid #181818;
	border-left: 2px solid #181818;
	box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #2E2E2E;
}

.digits {
	color: #0d2594;
	text-shadow: 1px 1px 0px #FFF;
	background-color: #EBEBEB;
	border-top: 2px solid #FFF;
	border-right: 2px solid #FFF;
	border-bottom: 2px solid #685555;
	border-left: 2px solid #C1C1C1;
	border-radius: 4px;
	box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #DCDCDC;
}

.digits:hover,
.mathButtons:hover,
#clearButton:hover {
	background-color: #c5bcb3;
	box-shadow: 0px 0px 2px #FFBA75, inset 0px -20px 1px #c939b6;
	border-top: 2px solid #FFF;
	border-right: 2px solid #FFF;
	border-bottom: 2px solid #325a46;
	border-left: 2px solid #1d9b9b;
}

#clearButton {
	color: #FFF;
	text-shadow: -1px -1px 0px #44006F;
	background-color: #247597;
	border-top: 2px solid #182429;
	border-right: 2px solid #84afff;
	border-bottom: 2px solid #122220;
	border-left: 2px solid #235b80;
	box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #6a96be;
}